.tournament-main {
    max-width: 80rem; // max-w-7xl
    margin: 0 auto;
    padding: 1rem 2rem;

    @media (min-width: 768px) {
        padding: 2rem;
    }
}

.tournament {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media (min-width: 1024px) {
            grid-template-columns: 2fr 1fr;
        }
    }

    &__current {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__sticky {
        @media (min-width: 1024px) {
            position: sticky;
            top: 2rem;
        }
    }
}